/*@import url('http://necolas.github.io/normalize.css/3.0.2/normalize.css');*/

* {
    box-sizing:border-box;
}

body {
  background: #fff;
}

h1 {
  font-size: 1.8em;
  font: Helvetica Neue, Helvectica, Arial, serif;
  margin: 60px 0 40px;
  font-weight: 500;
  color: #384047;
  text-align: center;
}

#main div {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 10%;
  margin: 5px;
}


/* Navigation Styling */

.nav            {
  background-color: #eaeaea;
  margin: 0;
  padding:10px;
  display: flex;
  flex-direction: column;

}

.nav-item  {
  list-style: none;
  font-size: 1.3em;
  text-align: center;
  font-weight:lighter;
  margin:8px;
  padding: 15px 110px;
  align-self: center;

}

a {
  text-decoration: none;
  color:#a8283b;
  text-align: center;
}

a:hover {
  border-bottom: solid 1px black;
  text-transform: uppercase;

}


/* Media Queries */

@media ( min-width: 769px ) {
    .nav {
      flex-direction: row;
      justify-content: space-around;

    }

    .nav-item {
      padding:15px 30px;
      width:20px;
    }

    a:hover {
      border: solid 1px black;
      background-color: white;
      padding:10px;
      border-radius: 20px;
      text-transform: uppercase;
    }

}

@media (max-width: 768px ) {
  .nav-item {
    background-color: white;
  }
}
